body{
    background-color: lightblue;
}

.main-heading{
    display: inline-block;
}
#myDropdown{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 5px;
    background-color: white;
    border-radius: 100px;
}

.grid-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .digit { 
    font-size: 150px; 
    color: #fff; 
} 
  
.txt { 
    font-size: 30px; 
    color: #fffcd6; 
} 
  
#time{
    display: inline-block;
    margin-left: 20%;
}

.moves{
    padding-left: 20%;
    
}
  
.digit { 
    font-size: 50px; 
    color: #fff; 
} 
  
.txt { 
    font-size: 30px; 
    color: #fffcd6; 
} 